// BLOG STYLING

// Hero
.hero-container {
  .title-heading .meta{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

  }
}

// Main Page
.main-container {
  background-color: #fff;

  .filter-section {
    .search-container {
      .search span,
      input {
        width: 100%;
      }
    }
  }

  .blog-cover {
    position: relative;
    min-width: 320px;
    height: 220px;
    border-radius: 8px;

    .btn-label-category{
      position: absolute;
      top: 5%;
      right: 5%;
      padding: 3px 8px;
      background-color: var(--bluegray-500);
      border-radius: 5px;
      min-width: 80px;
      text-align: center;
      color: #fff;
    }

    .label-category{
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .blog-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blog-heading {
    padding: 16px 5px;
    min-width: 320px;
    min-height: 100px;
  }

  .blog-heading h1 {
    font-size: 22px;
    line-height: 26px;
  }

  .meta {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }

  .blog-heading .description{
    margin-top: .5em;
  }

  // Details
  .left-content .heading h1 {
    font-size: 34px;
  }

  .right-content ul {
    list-style: none;
  }

  .right-content .blogs {
    .thumbnail-blog {
      width: 80px;
      height: 80px;
      border-radius: 5px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .heading-blogs{
      padding: 0 10px;

      h1 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }

  }

  @media screen and (max-width: 991px) {
    .right-content {
      display: none;
    }
  }
}
