// SERVICES STYLING

.hero-container .title-heading button {
  min-width: 100px;
  margin: 10px 16px;
}
// Main Page
.main-container {
  padding: 100px 0;
  background-color: #fff;

  .content-container {
    .heading-section {
      margin-bottom: 50px;
    }
    .heading-section .services-heading{
      padding-left: 10px !important;
    }

    .heading-section ul {
      list-style: none;

      i {
        margin-right: 12px;
        color: $success;
      }
    }

    .services {
      padding: 1.5rem;

      .pricing {
        width: 100%;
        height: 560px;
        padding: 16px;

        .heading {
          text-align: center;
          padding: 10px;
          width: 100%;

          h1 {
            font-size: 20px;
            margin: 12px 0;
          }

          img {
            width: 100%;
            height: 250px;
            object-fit: contain;
          }
        }

        .body {
          padding: 0 20px;
          .table-service {
            width: 100%;

            i {
              color: $success;
            }
          }
        }

      }
    }

    .content-services {
      .disclaimer{
        margin: 16px 0;
        text-align: left;
        color: $danger;
        font-style: italic;
        font-size: 12px;

        p {
          margin: 0;
        }
      }
      .terms ul {
        margin-top: 30px;
        list-style: none;
        padding: 0;
        i {
          margin-right: 12px;
          color: $success;
        }
      }

      .order {
        list-style: none;
        display: inline-flex;
        button {
          margin-right: 16px;
          min-width: 100px;
        }
      }

    }

    .content-services .download-brosur {
      list-style: none;
    }

    .content-services .order li a {
      text-decoration: none;
      font-weight: 600;
      color: #000;
    }

  }
}

@media screen and (min-width: 1440px) {
  .services .pricing {
    max-width: 450px;
  }
}
